/* Për stilizimin e përgjithshëm të formës */
.ui.form {
    background-color: #f5f6f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
  }
  
  /* Stilizimi i segmentit që mban formën */
  .ui.segment {
    margin: 30px 30px 30px 10px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  /* Stilizimi i inputeve */
  .ui.form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Stilizimi i butonit të Submit */
  .ui.form .ui.positive.button {
    background-color: #21ba45;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .ui.form .ui.positive.button:hover {
    background-color: #16a33a;
  }
  
  /* Stilizimi i butonit të Cancel */
  .ui.form .ui.basic.button {
    background-color: transparent;
    border: 1px solid #2185d0;
    color: #2185d0;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .ui.form .ui.basic.button:hover {
    background-color: #2185d0;
    color: white;
  }
  
  /* Stilizimi i titullit */
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 15px;
  }